.pt{
    position: relative; top: 20px;
}
.it{
    text-align: center;
    padding: 20px;
    font-size: 17px;

}

button{
    position: relative; right: -1350px;
    position: relative; top: -60px;
}

header {
text-align: center;
position: relative; bottom: -50px;
font-size: 20px;
}

     

.dot-wrap {
        position: relative;
        margin-top: 100px;
        padding-bottom: 9px;
        padding-top: 9px;
        text-align: center;
    }
.dot{
    width: 320px;
    height: 200px;
    background-color: #810004 ;
    color: white;
    font-size: 13px;
 float: left;
 display: flex;
 flex: direction;
 position:relative; left:270px;
 padding: 20px;
 
}

.dpt{
    width: 320px;
    height: 200px;
    background-color:#bb434b;
    color: white;
    font-size: 13px;
 float: left;
 display: flex;
 flex: direction;
 position:relative; left:270px;
 padding: 20px;
 
}

.dat{
    width: 320px;
    height: 200px;
    background-color:orange;
    color: white;
    font-size: 13px;
 float: left;
 display: flex;
 flex: direction;
 position:relative; left:270px;
 padding: 20px;
}
.ot{
    color:black;
    position: relative;
    padding-bottom: -5px;
    border-bottom: 0.6px solid rgb(185, 182, 182);
    position:relative ; bottom: -100px;
    margin: 30px;
    

  
}

.ut{
    text-align: center;
    background-color: rgb(230, 230, 230);
    font-size: 18px;
}


